@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


body
{
	margin: 0;
} 

header
{
	background: white;  
	color:white;
	padding: 8px 0px 40px 20px;
	height: 70px;
}

header h1{
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 50px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	color: black;
	margin-left: 200px;
}
header h6{
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 40;
	font-size: 10px;
	float: left;
	color: grey;
	padding: 30px 0px 0px 0px;
}
nav ul
{
	display: inline;
	padding: 60px 0px 0px 300px;
	float: left;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	color: black;
	float: left;
    margin-left:12px;

}
nav ul li a{
	color: black;
	text-decoration: none;
}
#nav{
	font-family: 'Montserrat', sans-serif;
}

.homered{
	background-color:red;
	padding: 30px 10px 2px 10px;
}
.divider{
	background-color: red;
	height: 5px;
}
.homeblack:hover{
	text-decoration: underline;
	text-decoration-color: red;
	padding: 20px 0px 0px 10px;
}

.fit {
	object-fit: cover;
}
.homesub {
	 color: rgba(0, 0, 0, 0.8);
	 margin: 0;
	 padding: 0px 0px  0px 150px;
	 font-size: 40px;
	 font-family: 'Open Sans Condensed', sans-serif;
}
.homedes {
	color: red;
	margin: 0;
	padding: 0px 0px 0px 150px;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;

}
.homepho {
	color: rgba(0, 0, 0, 0.6);
	margin: 0;
	padding: 0px 0px 0px 150px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;

}
.services {
	color: rgba(0, 0, 0, 0.9);
	text-align: center;
	font-size: 50px;
}
.servicesdis {
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
}
.servicesdis1 {
	color: rgba(0, 0, 0, 0.7);
	margin: 0;
	padding: 0px 0px 0px 60px;
}

.container{
	width: 95%;
	overflow: hidden;
	background: white;
	margin: 20px auto;
	padding: 20px;
}
.container ul{
	padding: 0px 0px 0px 50px;
	margin: 0px;
}
.container ul li{
	list-style: none;
	float: left;
	width: 23%;
	height: 300px;
	background:rgba(0, 0, 0, 0.025);
	margin: 40px 40px 0px 55px;
	box-sizing: border-box;
	border: 2px solid white;
}

.container ul li .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background:rgba(0, 0, 0,0.1);
	text-align:center;
	color: black;
	font-size: 20px;
}

.button {
  background-color: white;
  border:line;
  border-color: #f44336;
  color: black;
  padding: 12px 36px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0px 0px 0px 130px;
}

.button:hover{
	background-color: #f44336;
	border-color: #f44336;
	color: white;
}
.feed {
	text-align: center;
	font-size: 20px;
}

.rajesh{
	width: 10%;
	padding: 0px 0px 0px 650px;
	display: inline;
}

 


{box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: 0px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 500px;
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
  
}

.container1{
	width: 95%;
	overflow: hidden;
	
	margin: 20px auto;
	padding: 20px;
}
.container1 ul{
	padding: 0px 0px 0px 50px;
	margin: 0px;
}
.container1 ul li{
	list-style: none;
	float: left;
	width: 17%;
	height: 300px;
	background:rgba(0, 0, 0, 0.025);
	margin: 40px 40px 0px 55px;
	box-sizing: border-box;
	border:2px;
}

.container1 ul li .title1{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background:rgba(0, 0, 0, 0);
	color: grey;
	font-size: 20px;
	padding: 0px 0px 0px 16px;
}

.container1 ul li .title2 {
	font-size: 15px;
	width: 100%;
	height: 120%;
	color: grey;
}

.bottom{
	text-align: center;
	color: grey;
}